h1 {
    display: block;
    position:relative;
    text-align: end;
    background-color:rgb(10,22,134);
    background-image: linear-gradient(to right, rgb(10,22,134),rgb(90, 135, 168));
    color: whitesmoke;
}
.city-search{
    position: relative;
    display: inline-flex;
    text-align: center;
    left: 0px;
    flex-direction: column;
    border-bottom: solid 2px black;
    align-items: center;
}
.search-history {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    left: 40px;
}
.search-history button{
    /* display: flex; */
    /* position: absolute; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    /* flex-direction: column; */
    width: 100px;
    /* left: 40px; */
    padding: 4px 10px;
    border: 2px solid black;
    background-color: grey;
    margin: 4px;
    border-radius: 4px;
}
.killme{
    display: flex;
    justify-content: center;
}
.display{
    display: flex;
    position:relative;
    flex-wrap: wrap;
    top: -100px;
    /* left: 200px; */
    height: 220px;
    width: 500px;
    padding: 3px;
    border: solid 2px black;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    box-sizing: border-box;
}
.fiveday {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    /* left: 180px; */
    justify-content: center;
    align-content: space-between;
    align-items: flex-start;
    flex-direction: row;
}
.days {
    display: flex;
    background-color: rgb(47, 47, 152);
    flex-wrap: wrap;
    border: 2px solid black;
    width: 90px;
    height: 150px;
    margin: 5px;
    padding: 5px;
    justify-content: center;
    color: white;
    align-items: flex-start;
}
.days i{
    position: absolute;
}
@media screen and (max-width: 900px){
    .display, .fiveday {
        position: relative;
        left: 0;
        top: 80px;
        flex-wrap: wrap
    }
    .display{
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    .search-history{
        position: relative;
    }
}